<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Lista de Funcionalidades</h5>
      <button class="btn btn-success" routerLink="/Funcionalidades/Adicionar">
        <fa-icon [icon]="icAdd"></fa-icon>
        Adicionar
      </button>
    </div>
    <div class="card-body">
      <table class="table table-light table-hover align-middle table-sm" >
        <thead class="table-light">
          <th class="text-center">Id</th>
          <th class="text-center">Nome</th>
          <th class="text-center">Identificador do cargo</th>
          <th class="text-center">Ação</th>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let func of funcionalidades">
            <td class="text-center">{{ func.id }}</td>
            <td class="text-center">{{ func.nome }}</td>
            <td class="text-center">{{ func.cargoId }}</td>
            <td class="table-primary text-center">
              <button class="btn btn-outline-primary btn-sm" routerLink="/Funcionalidades/Associar/{{func.id}}">
                <fa-icon [icon]="icAssocia"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>