<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Desativar Tipo de Area de Atendimento: {{taa.nome}}</h5>
    </div>
    <div class="card-body">
      Voce concorda em desativar o tipo de area de atendimento: {{taa.nome}}?
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-secondary" routerLink="../../">Não. Cancelar</button>
      <button class="btn btn-danger" (click)="excluirTaa()">Sim. Desativar</button>
    </div>
  </div>
</section>
