<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Desativar Area de Atendimento: {{aa.nome}}</h5>
    </div>
    <div class="card-body">
      Você concorda em desativar a area de atendimento: {{aa.nome}}?
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-secondary" routerLink="../../">Não. Cancelar</button>
      <button class="btn btn-danger" (click)="excluirTaa()">Sim. Desativar</button>
    </div>
  </div>
</section>