<section class="container">
  <div class="card list-pessoa">
    <h5 class="card-header">Adicionar Usuario</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && addUser()" #f="ngForm" novalidate>
        <section class="form-group mb-3">
          <!-- Nome -->
          <label class="form-label" for="nome">Nome do Cargo:</label>
          <input 
            type="text"
            [(ngModel)]="user.nome"
            id="nome"
            name="nome"
            class="form-control"
            placeholder="Digite o Nome Completo"
            required />
          <!-- Email -->
          <label for="email" class="form-label">Email do Usuario:</label>
          <input 
            type="email" 
            [(ngModel)]="user.email"
            id="email"
            name="email"
            class="form-control" 
            placeholder="email@dominio.com"
            required />
          <!-- CargoId -->
          <label for="cargoId" class="form-label">Identificador do Usuario:</label>
          <input 
            type="number" 
            [(ngModel)]="user.cargoId"
            name="email"
            class="form-control"
            placeholder="Identificador do Cargo"
            required />
          <!-- Senha -->
          <label for="senha" class="form-label">Senha do Usuario</label>
          <input type="password" class="form-control" disabled>
          <span id="emailHelp" class="form-text">A senha do usuario será gerada a partir do nome completo do usuario.</span>
        </section>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-danger" routerLink="../">
              Cancelar
              <fa-icon [icon]="icCancel"></fa-icon>
            </button>
            <button type="submit" class="btn btn-success">
              Registrar 
              <fa-icon [icon]="icAdd"></fa-icon>
            </button>
          </div>
        </form>
    </div>
  </div>
</section>
