<section class="container">
  <div class="card list-pessoa">
    <h5 class="card-header">Alterar Area de Atendimento: {{ this.aa.nome }}</h5>
    <div class="card-body">
      <form (submit)="updateAreaAtendimento()" [formGroup]="frmAa">
        <section class="form-group">
            <!-- Nome -->
            <div class="my-3">
              <label for="nome" class="form-label">Nome do Usuário:</label>
              <input 
                type="text" 
                formControlName="nome"
                id="nome"
                class="form-control"
                name="nomeTaa"
                required 
              />
            </div>
            <!-- Indetificador do Tipo de area de atendimento -->
            <div class="my-3">
              <label class="form-label" for="taaId">Identificador do Tipo de Area de Atendimento:</label>
              <input 
              type="number"
              formControlName="tipoAreaAtendimentoId"
              id="taaIdAA"
              name="taaId"
              class="form-control"
              required />
            </div>
            <div class="d-flex justify-content-between">
              <button type="reset" class="btn btn-danger" routerLink="../../">
                Cancelar
                <fa-icon [icon]="icCancel"></fa-icon>
              </button>
              <button type="submit" class="btn btn-success">
                Alterar 
                <fa-icon [icon]="icCheck"></fa-icon>
              </button>
            </div>
          </section>
        </form>
    </div>
  </div>
</section>