<section class="container">
  <div class="card list-pessoa">
    <h5 class="card-header">Adicionar Permissão</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && addFuncionalidade()" #f="ngForm" novalidate>
        <section class="form-group mb-3">
           <!-- Nome -->
           <div class="my-3">
            <label class="form-label" for="nome">Nome da Permissão:</label>
            <input 
            type="text"
            [(ngModel)]="func.nome"
            id="nome"
            name="nomeRole"
            class="form-control"
            placeholder="Digite o Nome Completo"
            required />
          </div>
          <!-- Identificador do Cargo -->
           <div class="my-3">
            <label class="form-label" for="cargoId">Identificador do Cargo:</label>
            <input 
            type="number"
            [(ngModel)]="func.cargoId"
            id="cargoId"
            name="cargoIdRole"
            class="form-control" />
          </div>
        </section>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-danger" routerLink="../">
              Cancelar
              <fa-icon [icon]="icCancel"></fa-icon>
            </button>
            <button type="submit" class="btn btn-success">
              Registrar 
              <fa-icon [icon]="icAdd"></fa-icon>
            </button>
          </div>
        </form>
    </div>
  </div>
</section>