<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Lista de Senhas</h5>
      <div class="d-flex justify-content-between btns">
        <button class="btn btn-primary" (click)="proximaSenha()">Chamar próxima senha</button>
        <button class="btn btn-secondary" (click)="rechamarSenha()">Rechamar senha</button>
        <button class="btn btn-warning" routerLink="/Home/Senhas/Historico">Histórico de senhas</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover align-middle table-sm">
        <thead>
          <tr class="table-dark">
            <th class="text-center">Identificador</th>
            <th class="text-center">Prioridade</th>
            <th class="text-center" colspan="3">Ação</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let senha of senhas">
            <td class="text-center">{{ senha.id }}</td>
            <td class="text-center">{{ senha.prioridade == '1' ? "Normal" : "Prioritário" }}</td>
            <td class="table-danger text-center">
              <button class="btn btn-outline-danger btn-sm" (click)="excluirSenha(senha)">
                <fa-icon [icon]="icTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="text-center">
  <h1 class="text-danger">Senha: {{ this.senhaChamada.id }}</h1>
  <h2>Prioridade: {{ this.senhaChamada.prioridade }}</h2>
</section>
<section class="container mt-3 text-center">
  <div class="card list-pessoa">
    <h5 class="card-header fs-1">Adicionar Senha</h5>
    <div class="card-body">
      <form id="add-form" novalidate>
        <section class="form-group mb-3">
          <!-- Prioridade -->
          <div class="my-3">
            <label class="form-label fs-2" for="prioridade">Escolha a prioridade:</label>
            <div class="d-flex justify-content-evenly">
              <button type="submit" class="btn btn-primary fs-1 btn-slg" (click)="addSenha('1')">Normal</button>
              <button type="submit" class="btn btn-primary fs-1 btn-slg" (click)="addSenha('2')">Prioritário</button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>