<section class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Lista de Relatórios</h5>
      <button class="btn btn-success" routerLink="/Home/Relatorios/Adicionar">
        <fa-icon [icon]="icAdd"></fa-icon>
        Adicionar
      </button>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover align-middle table-sm" >
        <thead class="table-dark">
          <tr class="table-dark">
            <th class="text-center">Id</th>
            <th class="text-center">Nome do Arquivo</th>
            <th class="text-center">Tempo de Espera</th>
            <th class="text-center">Taxa de Utilização (Guiche)</th>
            <th class="text-center">Taxa de Utilização (Triagem)</th>
            <th class="text-center">Taxa de Utilização (Consultórios)</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let rel of rels">
            <td class="text-center">{{ rel.id }}</td>
            <td class="text-center">{{ rel.nome }}</td>
            <td class="text-center">{{ rel.tempoEspera }}</td>
            <td class="text-center">{{ rel.taxaUtilizacaoGuiche }}</td>
            <td class="text-center">{{ rel.taxaUtilizacaoTriagem }}</td>
            <td class="text-center">{{ rel.taxaUtilizacaoConsultorio }}</td>
            <td class="table-primary text-center">
              <button class="btn btn-outline-primary" (click)="GerarCsv(rel)">
                <fa-icon [icon]="icCsv"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
