<section class="container">
  <div class="card list-pessoa">
    <h5 class="card-header">Alterar Usuario: {{ this.user.nome }}</h5>
    <div class="card-body">
      <form [formGroup]="frmUser">
        <section class="form-group">
          <!-- Nome -->
          <div class="my-3">
            <label for="nome" class="form-label">Nome do Usuário:</label>
            <input 
              type="text" 
              formControlName="nome"
              id="nome"
              name="nomeUser"
              class="form-control"
              required 
            />
          </div>
          <!-- Email -->
          <div class="my-3">
            <label for="email" class="form-label">Email do Usuario:</label>
            <input 
              type="email" 
              formControlName="email"
              id="email"
              name="emailUser"
              class="form-control" 
              required 
            />
          </div>
          <!-- CargoId -->
          <div class="my-3">
            <label for="cargoId" class="form-label">Identificador do Cargo:</label>
            <input 
              type="number" 
              formControlName="cargoId"
              id="cargoId"
              class="form-control"
              name="emailCargoIdUser"
              required 
            />
          </div>
          <!-- Senha -->
          <div class="my-3">
            <label for="senha" class="form-label">Senha do Usuario</label>
            <input 
              type="text"
              formControlName="senha"
              id="senha"
              class="form-control"
              name="senhaUser"
            />
          </div>
        </section>
          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-danger" routerLink="../../">
              Cancelar
              <fa-icon [icon]="icCancel"></fa-icon>
            </button>
            <button type="submit" class="btn btn-success" (click)="updateUser()">
              Alterar 
              <fa-icon [icon]="icCheck"></fa-icon>
            </button>
          </div>
        </form>
    </div>
  </div>
</section>
